<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened class="sidebar">
        <h2>Configuration</h2>
        <p *ngIf="message" class="alert alert-danger">{{message}}</p>
        <form class="settings">
            <button mat-stroked-button color="primary" class="button" (click)="greedySolve()">Greedy</button>
            <button mat-stroked-button color="primary" class="button" (click)="geneticSolve()">Genetic</button>
        </form>

        <form class="fileUpload">
            <label>
                <input name="starCount" value="" type="text" class="form-control" placeholder="StarCount">
            </label>
            <input type="file"
                   id="file"
            (change)="handleFileInput($event)">
        </form>

    </mat-drawer>

    <mat-drawer-content>
        <ng2-cytoscape
                [elements]="graphData"
                [layout]="layout">
        </ng2-cytoscape>

    </mat-drawer-content>
</mat-drawer-container>
